In [1]:
import pandas as pd
import numpy as np

# Basic Synthesis

### Control Variables:
<b>Household:</b>  
Income HINCP(cont)  
Persons NP(cont)  
Vehicles VEH(cat)

<b>Person:</b>  
Age AGEP(cont)  
Gender SEX(cat)  
Level of Education SCHL(cat)  
Class of Worker COW(cat)

In [6]:
pums_data_p = pd.read_csv('./data/PUMS_2017_5YR_WA/psam_p53.csv')[['AGEP','SEX','SCHL','COW']].dropna()
pums_data_h = pd.read_csv('./data/PUMS_2017_5YR_WA/psam_h53.csv')[['HINCP','NP','VEH']].dropna()
popsim_data_p = pd.read_csv('./populationsim-master/example_wa/output/synthetic_persons.csv')
popsim_data_h = pd.read_csv('./populationsim-master/example_wa/output/synthetic_households.csv')
vae_data_p = pd.read_csv('./data/synthetic_populations/wa_persons.csv')
vae_data_h = pd.read_csv('./data/synthetic_populations/wa_households.csv')

In [10]:
pums_data_p

           PINCP  AGEP  SEX  SCHL  COW
4       160000.0    52    1  21.0  1.0
5        50000.0    51    2  21.0  3.0
6          500.0    18    1  14.0  3.0
7        26710.0    59    1  19.0  3.0
8        23600.0    56    2  16.0  1.0
...          ...   ...  ...   ...  ...
359067   16800.0    40    2  19.0  1.0
359070   37200.0    22    1  16.0  5.0
359071    5300.0    19    2  18.0  1.0
359072    2500.0    19    2  16.0  1.0
359074   20000.0    40    1  16.0  1.0

[215545 rows x 5 columns]

In [8]:
pums_data_h

           HINCP  NP  VEH
0       102200.0   2  2.0
1        69360.0   2  2.0
2       210500.0   3  3.0
3        50310.0   2  3.0
4        31200.0   5  0.0
...          ...  ..  ...
161771  141370.0   4  2.0
161772   60000.0   2  2.0
161774   55000.0   3  2.0
161775  102000.0   4  2.0
161776  106400.0   3  4.0

[140586 rows x 3 columns]

In [13]:
popsim_data_p

          PUMA        TRACT  household_id    PINCP  AGEP  SEX  COW  SCHL
0        10200  53007960100             1  22000.0    58    1  6.0  16.0
1        10200  53007960100             1      0.0    17    2  9.0  15.0
2        10200  53007960100             2  22000.0    58    1  6.0  16.0
3        10200  53007960100             2      0.0    17    2  9.0  15.0
4        10200  53007960100             3  22000.0    58    1  6.0  16.0
...        ...          ...           ...      ...   ...  ...  ...   ...
5187979  10501  53063011102       2848395   1150.0    30    1  1.0  21.0
5187980  10501  53063011102       2848395   1500.0    25    2  1.0  19.0
5187981  10501  53063011102       2848396   2400.0    25    2  2.0  18.0
5187982  10501  53063011102       2848396    810.0    25    1  2.0  18.0
5187983  10501  53063011102       2848396    400.0    20    2  2.0  18.0

[5187984 rows x 8 columns]

In [14]:
popsim_data_h

         household_id   PUMA        TRACT    HINCP  NP  VEH  TYPE
0                   1  10200  53007960100  22000.0   3  2.0     1
1                   2  10200  53007960100  22000.0   3  2.0     1
2                   3  10200  53007960100  22000.0   3  2.0     1
3                   4  10200  53007960100  22000.0   3  2.0     1
4                   5  10200  53007960100  22000.0   3  2.0     1
...               ...    ...          ...      ...  ..  ...   ...
2848391       2848392  10501  53063011102   8200.0   2  0.0     1
2848392       2848393  10501  53063011102   5000.0   6  2.0     1
2848393       2848394  10501  53063011102   7100.0   4  2.0     1
2848394       2848395  10501  53063011102   6650.0   4  3.0     1
2848395       2848396  10501  53063011102   3610.0   3  0.0     1

[2848396 rows x 7 columns]

In [15]:
vae_data_p

,AGEP,JWMNP,SCHL,PINCP,HINCP,COW,SEX,MAR,NP,VEH,HH_ID
0,46.690792,67.135124,19.269115,53047.590,67422.980,1,2,1,2,4,543139
1,25.256191,22.351960,17.270945,32094.812,74395.330,1,1,1,2,4,543139
2,50.974200,27.688408,16.346310,47223.050,72674.680,7,1,3,2,3,565584
3,51.155690,51.084520,18.514894,71178.750,65046.330,1,2,1,2,3,565584
4,47.327526,12.019275,21.233692,64263.992,95802.836,6,2,1,3,4,503640
...,...,...,...,...,...,...,...,...,...,...,...
833981,36.922260,64.555640,19.385271,57800.402,106648.016,1,2,5,2,2,129522
833982,53.264200,15.170217,16.308552,99137.016,122643.125,6,2,1,2,2,129522
833983,67.666060,20.818037,20.289522,62215.938,61064.605,3,2,1,2,3,684012
833984,17.624075,29.196178,9.452422,16511.715,48804.820,1,1,5,2,3,684012
833985,30.536217,37.581284,18.991451,60434.367,98675.460,3,1,5,2,2,180554

In [16]:
vae_data_h

             HINCP  NP  VEH
0       118592.330   5    2
1        21326.982   1    1
2        99697.730   1    2
3        66527.680   5    2
4        60233.860   2    6
...            ...  ..  ...
749995  168711.560   2    2
749996   30963.396   1    2
749997  228661.840   1    3
749998   34632.008   1    3
749999  297748.530   2    3

[750000 rows x 3 columns]